.advantages, .advantages-logo1 {
    background-size: cover;
    background-repeat: no-repeat;
}
.advantages {
    background-color: #151515;
    background-position: center center;
    background-image: url(../../../img/main-images/advantages-section-bg.png);
}
.advantages-logo1 {
    padding-top: 180px;
    padding-bottom: 180px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url(../../../img/main-images/advantages-bg-element.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: background-position .1s ease-out;
}

.advantages-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 0;
    padding-top: 10%}
.advantages-content-cart {
    width: 273px;
    display: flex;
    justify-content: space-between;
}
.advantages-content-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.advantages-content-title {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #e8e8e8;
    margin-bottom: 20px;
}
.advantages-content-text {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #e8e8e8;
}
@media (max-width:820px) {
    .advantages-logo {
    background-size: contain;
}
.advantages-content {
    justify-content: center;
}
}
@media (max-width:640px) {
  

    .advantages-content-title {
    font-size: 12px;
    margin-bottom: 10px;
}
.advantages-content-text {
    font-size: 10px;
}
.advantages-logo1 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.advantages-logo2 {
    padding-top: 50px;
    padding-bottom: 50px;
}
}