.footer {
    margin-top: 40px;
    margin-bottom: 80px;
}
.contacts-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
}
.contacts-row-block1 {
    display: flex;
}
.contacts-row-block2 {
    width: 600px;
}
.contacts-item, .contacts-recvisits-left {
    max-width: 400px;
    width: 100%}
.contacts-item {
    margin: 0 auto;
}
.contacts-title {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: #151515;
    margin-bottom: 10px;
}
.contacts-phone {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.contacts-main-info, .contacts-name-info {
    font-weight: 500;
    font-size: 16px;
    color: #151515;
}
.contacts-item-email {
    margin-top: 20px;
}
.contacts-item-email a {
    display: block;
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.contacts-adress, .contacts-info {
    font-size: 16px;
}
.contacts-recvisits-row {
    display: flex;
    column-gap: 40px;
}
.contacts-name-info {
    text-align: center;
    margin-top: 40px;
}
@media (max-width:640px) {
    .contacts-adress, .contacts-info, .contacts-main-info, .contacts-name-info p, .contacts-phone, .contacts-title {
    font-size: 11px;
}
.contacts-item-email {
    margin-top: 0;
}
.contacts-item-email a {
    font-size: 10px;
    line-height: 1.2rem;
}
.contacts-recvisits-left {
    max-width: 110px;
}
.contacts-row-block1 {
    margin-right: 0;
}
}@media (max-width:420px) {
    .contacts-item-email {
    margin-top: 10px;
}
.contacts-row-block1 {
    gap: 20px;
}
.contacts-recvisits-row {
    column-gap: 20px;
    margin: 0 auto;
}
}