.header-content,
.logo {
  margin-top: 40px;
}
.header-content-title,
.header-list ul li {
  font-weight: 700;
  font-size: 16px;
  color: #e8e8e8;
  text-transform: uppercase;
}
.mobile div,
.mobile nav {
  position: fixed;
  bottom: 16px;
  right: 16px;
  height: 50px;
  width: 50px;
}
.mobile div span,
.mobile nav {
  display: block;
  transition-duration: 0.4s;
}
.header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../img/main-images/background-header.webp);
}
.logo {
  width: 240px;
  height: 84px;
}
.header-content-title {
  margin-bottom: 18px;
  max-width: 550px;
  width: 100%;
}
.header-content-subtitle {
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
}
.header-list {
  margin-top: 10%;
  padding-bottom: 10%;
}
.header-list ul {
  padding: 0;
}
.header-list ul li {
  list-style: none;
  line-height: 3rem;
  position: relative;
}
.header-list ul li::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: 0;
}
.mobile div {
  display: block;
  background-color: #2d2d2d;
  border-radius: 50%;
  z-index: 200;
  border: 2px solid #fe0000;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  box-sizing: content-box;
}
.mobile div span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 13px;
}
.mobile div span:first-child {
  top: 14px;
}
.mobile div span:nth-child(2) {
  top: 23px;
}
.mobile div span:nth-child(3) {
  bottom: 14px;
}
.mobile div.active span:first-child {
  transform: translate(-15px, 9px) rotate(-45deg);
}
.mobile div.active span:nth-child(2) {
  transition-duration: 0s;
  opacity: 0;
}
.mobile div.active span:nth-child(3) {
  transform: translate(-15px, -9px) rotate(45deg);
}
.mobile nav {
  border-radius: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.mobile nav.open {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  border-radius: 0;
}
.mobile nav ul {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.mobile nav ul.show {
  visibility: visible;
  opacity: 1;
}

.mobile ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.mobile ul li:not(:last-child) {
  margin-bottom: 22px;
}
.mobile ul li a {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #fff;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 640px) {
  .header-content,
  .logo {
    margin-top: 20px;
  }
  .mobile ul li a {
    font-size: 14px;
    line-height: 1.8rem;
  }
  .header-content-title {
    max-width: 400px;
    width: 100%;
    font-size: 10px;
    line-height: 1.2rem;
  }
  .header-content-subtitle {
    font-size: 18px;
  }
  .header-list {
    margin-top: 20%;
  }
  .header-list ul li {
    font-size: 10px;
    line-height: 2rem;
  }
  .header-list ul li::after {
    width: 10%;
  }
}
@media (max-width: 420px) {
  .mobile ul li a {
    font-size: 12px;
    line-height: 0.8rem;
  }
}
