.rf-map,
.rf-map * {
  box-sizing: border-box;
}
.rf-map {
  position: relative;
  max-width: 980px;
  margin: auto;
  padding: 20px;
}
.rf-map .district b {
  position: absolute;
  z-index: 5;
  background: #fff;
  height: 400px;
}
.rf-map .district span {
  position: absolute;
  z-index: 5;
  top: 20%;
  color: #141414;
}
.rf-map .district {
  display: none;
}
.rf-map.open .district b {
  top: 0;
  left: 0;
  border-radius: 0;
  width: 100%;
  height: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
.rf-map.open .district span {
  color: #000;
  position: absolute;
  top: 20px;
}
.rf-map svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.5));
}
.rf-map path {
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linejoin: round;
}
.rf-map [data-code] {
  fill: #b9b9b9;
}
.rf-map [data-code]:hover {
  fill: #b9b9b9;
}
.rf-map .district-text {
  display: none;
  position: absolute;
  z-index: 6;
  left: 0;
  top: 60px;
  width: calc(100% - 20px);
  height: calc(100% - 150px);
  padding: 0 20px;
  overflow: auto;
  color: #000;
}
.rf-map .close-district {
  opacity: 0;
  z-index: 6;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 1;
  font-size: 40px;
  color: #000;
  cursor: pointer;
  pointer-events: none;
}
.rf-map.open .close-district {
  opacity: 1;
  pointer-events: initial;
}
.rf-map .district-links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.rf-map .district-links {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  gap: 10px;
}
.rf-map .district-links div {
  border: 1px solid #141414;
  padding: 4px 7px;
  transition: all 0.2s ease-in-out;
  font-size: 12px;
}
.rf-map .district-links div:hover {
  background-color: #141414;
  color: #fff;
}
.dropfill,
.mainfill {
  fill: #b9b9b9 !important;
}

.location-img {
  max-width: 80px;
  height: 80px;
}
.location-description p {
  font-size: 14px;
  line-height: 2rem;
  color: #000;
}
@media (max-width: 980px) {
  .location-description p {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .rf-map .district b {
    width: 28px;
    height: 28px;
    left: 6px;
    top: 28px;
  }
  .rf-map .district span {
    top: 30px;
    left: 46px;
    font-size: 20px;
    font-weight: 400;
  }
  .rf-map .district-text {
    left: 30px;
    top: 80px;
    width: calc(100% - 60px);
    height: calc(100% - 130px);
    font-size: 16px;
  }
  .rf-map .close-district {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }
  .rf-map .district-links {
    cursor: pointer;
  }
}
.rf-map [data-code="RU-KLU"],
.rf-map [data-code="RU-LEN"],
.rf-map [data-code="RU-NIZ"],
.rf-map [data-code="RU-SAM"],
.rf-map [data-code="RU-TA"],
.rf-map [data-code="RU-ULY"] {
  fill: #718896;
  cursor: pointer;
}
.mgc-location-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  color: #141414;
  margin-top: 40px;
  position: relative;
  width: 300px;
}
.mgc-location-title::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  left: 0;
  top: -5px;
  background-color: #fe0000;
}
.maps-card {
  display: flex;
  gap: 20px;
}
.card-line {
  width: 5%;
  height: 2px;
  margin: 20px auto 20px;
  border-radius: 20px;
  background-color: rgba(20, 20, 20, 0.4);
}
@media (max-width: 640px) {
  .mgc-location-title {
    font-size: 18px;
    width: 180px;
  }
}
